html {
  background: #fff;
  border: 1px solid #ccc;
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  width: 250px;
}

h1 {
  color: #ee6e73;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  padding: 10px 0;
  text-align: center;
}

.container {
  background: #fff;
  max-height: 350px;
  overflow: auto;
  margin: 0;
  height: 100%;
  padding-left: 0;
  list-style-type: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
button.item:first-child {
  border-top: 1px solid #e0e0e0;
}
button.item {
  font-size: 15px;
  background-color: #fff;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  list-style-type: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: left;
}

.secondary {
  font-size: 15px;
  background-color: #fff;
  padding: 0 20px;
}

.secondary select {
  display: block;
}

.secondary label {
  padding: 10px 0;
  display: block;
}

button:hover {
  background-color: #ddd;
}

button {
  outline: none;
  border: none;
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

div[hidden] {
  display: none;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 10px 20px;
}
